[2018-03-07 15:31] dim commented on #211
@thomaslee good catch and sorry for the delay. No, there is no particular reason, I probably just looked at the wrong Java code when implementing it. Will fix.

[2018-03-07 15:32] dim commented on #211
Sorted in https://github.com/bsm/sarama-cluster/commit/66a68d7f679d6e1d391979e7845c0e5fae06f6c5

[2018-03-07 15:32] #211 closed

[2018-03-07 15:37] dim commented on #210
@opb sorry for the delay. so what you are looking for is your own, private offset storage? Sorry, I may not understand the bigger picture, but it seems like a hack that is likely to fail. It took Kafka many years to get consumer-group management right, because it is not a trivial problem. Distributing the consumer process to retrieve messages exactly once is hard.

Unfortunately, I don't think I w

[2018-03-07 15:37] #210 closed

[2018-03-07 16:14] veger commented on #220
Nice, I never saw the `NewConsumerFromClient()` function! We are using the `NewConsumer()` function only.

Only thing is that the message, error, etc. channels are recreated, so it will break listeners to these channels (they need to swap channel when they are drained somehow...?)

So a `SubscribeToTopic()` function it is not fully syntactic sugar, it makes it easier than your solution, as the cha

[2018-03-07 16:20] thomaslee commented on #211
@dim thanks a ton!

[2018-03-07 17:34] jerrygb commented on #212
Hi @dim

Thank you for the reply.

That is correct. It seems that kafka servers had stale group coordinator data. The fix seems to be that we did safe shutdown of kafka during any rolling upgrades. I tried co-ordinating with the kafka contributor, but they needed a test cluster where it was reproducible, but did not see that happening. We tent to have a fair bit of traffic onto the kafka servers,

[2018-03-07 19:43] petitout opened #224 "Documentation clarification"
Hi,
I have a question about the "consumer mode partitions".
I have this kind of code :

`func main() {

	config := cluster.NewConfig()
	config.Group.Mode = cluster.ConsumerModePartitions
        ....
	consumer, err := cluster.NewConsumer(brokers, "my-consumer-group", topics, config)
        ...
        // consume errors
	go func() {
		for err := range consumer.Errors() {
		    ...
		}
	}()

	// co

[2018-03-08 03:50] wshelly opened #225 "how can i get the uncommited"
when i deal with the msg error, I want to receive it again ,but it will receive the next message, and the uncommitted msg will never received, how can i get the uncommitted msg again?

func main() {
	// init (custom) config, enable errors and notifications
	config := cluster.NewConfig()
	config.Consumer.Return.Errors = true
	config.Group.Return.Notifications = true
	config.Consumer.Offsets.Initial

[2018-03-09 08:34] opb commented on #210
Hi there

Thanks for the response. Consumer-based offset tracking is an actual thing in Kafka. Rather than a consumer group connecting to the brokers and saying "hey my consumer group ID is xxx, give me the stuff I haven't had yet", you can connect to Kafka and say "hey, for partition 0, the last offset i saw was x, for partition 1 it was y, etc...".

It's this ability to use a local, consumer-sto

[2018-03-15 03:08] kazaff opened #226 "how to create consumer"
hi, everyone~

when I ran the demo code,  I always saw this output:
[code]
nothing else.

somebody can tell me what's wrong?

env:

kafka0.10.1.0

[2018-03-15 03:22] kazaff commented on #226
I think i found the reason:
[code]

[2018-03-15 03:22] #226 closed

[2018-03-20 00:34] wingdog opened #227 "Consumer stopped receiving messages after getting network errors from Consumer.Errors() channel"
Consumer stopped receiving messages after getting the following network errors from Consumer.Errors() channel

`read tcp xxx.xxx.xxx.xxx:59633->xxx.xxx.xxx.xxx:9102: read: connection reset by peer`

I have to restart the process to make it works.  After spot checking the code base I found the follow functions just return without error handling while the mainLoop still running:

[code]

Not sure wh

[2018-03-20 01:55] wingdog opened #228 "Consumer.Close is stuck if process is terminate before Consumer.subscribe can be finished"
Consumer.Close is stuck if process is terminate before Consumer.subscribe can be finished.  I have to manually kill the process or do the following to be able to terminate the process programatically.

[code]

[2018-04-06 01:36] surajkb74 opened #229 "JSON RawMesage - Not able to consume the message"
I've a json output from a RestAPI call and would like to push the output to kafka topic

type Response struct {
	RequestID     string `json:"requestId"`
	Success       bool   `json:"success"`
	NextPageToken string `json:"nextPageToken,omitempty"`
	MoreResult    bool   `json:"moreResult,omitempty"`
	Errors        []struct {
		Code    string `json:"code"`
		Message string `json:"message"`
	} `json:"

[2018-04-06 05:56] surajkb74 commented on #229
json.RawMessage was an array of 300 objects...When I reduce the size to 50 consumer started consuming it.
Question: Whether there is any limit setting on the message size?

[2018-04-11 03:27] nuoyitech opened #230 "How can i consume msg from a specified offset"
I want to consume messages from a specified offset recorded last time.
like java api:

consumer.seek(partition, offset)

After NewConsumerFromClient, I call  consumer.ResetPartitionOffset(topic, partition, offset, meta ), but it does't work.

Thanks a lot.

[2018-04-17 00:41] jchenz opened #232 "implement my own partition.assignment.strategy"
Currently, sarama-cluster supports "roundrobin" and "range" partition assignment strategies. I want to implement my own strategy to assign the partitions to different consumers.  When I perform partition assignment ( currently done in topicInfo), the method we registers to do the partition assignment should be able to access all members'  UserData from saram.ConsumerGroupMemberMetadata.

[2018-04-17 06:33] dim commented on #232
I am currently working on the integration of a low level consumer group into sarama, see here: https://github.com/Shopify/sarama/pull/1083. It comes with an abstract BalanceStrategy interface which allows custom implementations. Once accepted, I will work on the higher level cluster consumer, which would be sarama-cluster V3.

[2018-04-17 06:36] dim commented on #230
Hey, currently, you can only start a sarama.OffsetManager and manually pre-commit offsets you want to start consuming from.

Also, I am currently working on the integration of a low level consumer group into sarama, see here: https://github.com/Shopify/sarama/pull/1083. It will allow users to build their own, custom cluster consumers. A generic, high-level consumer implementation will still be pro

[2018-04-17 06:36] #230 closed

[2018-04-17 06:39] dim commented on #229
Sorry, there is no limit on sarama-cluster side, it only wraps the native sarama consumers. Please check sarama's config options.

[2018-04-17 06:39] #229 closed

[2018-04-17 06:42] dim commented on #227
Hmm, is this happening in the latest version? I thought that it has been addressed in one of the more recent releases. Can you reproduce it consistently?

[2018-04-17 06:45] dim commented on #225
Currently, you would need to stop and restart the consumer.

I am currently working on the integration of a low level consumer group into sarama, see here: https://github.com/Shopify/sarama/pull/1083. It allows users to write their own, custom consumer implementations. Once accepted, I will work on the higher level cluster consumer, which would be sarama-cluster V3.

[2018-04-17 06:45] #225 closed

[2018-04-17 06:48] dim commented on #224
Hi, sorry for the delay. The documentation can be found here: https://godoc.org/github.com/bsm/sarama-cluster#Consumer.Partitions. There is an example too, hope that explains it.

[2018-04-17 06:48] #224 closed

[2018-04-17 06:49] #222 closed

[2018-04-17 06:51] dim commented on #220
I am currently working on the integration of a low level consumer group into sarama, see here: https://github.com/Shopify/sarama/pull/1083. It allows users to manually trigger a rebalance as well as dynamic changes to topic subscriptions. Once accepted, I will work on the higher level cluster consumer, which would be sarama-cluster V3.

[2018-04-17 06:53] dim commented on #212
I am currently working on the integration of a low level consumer group into sarama, see here: https://github.com/Shopify/sarama/pull/1083. It allows users to write their own, custom consumer implementations. Once accepted, I will work on the higher level cluster consumer, which would be sarama-cluster V3. The rebalance API should then become much simpler and less prone to errors.

[2018-04-17 18:00] jchenz commented on #232
thanks for info.

[2018-04-19 05:59] lpxxn opened #233 "how can i consume msg from specified offset"
I use OffsetManager to  reset offset bug it do not work
am i do it wrong?

[code]

[2018-04-27 15:35] jessicaxiejw commented on #228
I am not sure if you have the same error, it only happens to me when the `config.Group.Mode` is set to `ConsumerModePartitions`. It seems to stuck at https://github.com/bsm/sarama-cluster/blob/d98592677c0aa08d8aafb882d344fb461682b722/consumer.go#L834

[2018-04-28 11:11] toefel18 opened #235 "Adding partitions to a topic during runtime does not trigger a rebalance"
Situation:
1.  there exists a topic `my-test-topic`
1. an instance of cluster.Consumer is consuming from that topic
1. I add 2 partitions to `my-test-topic` during runtime (for now assume that message-order does not matter)
1.  **No rebalance happens and all messages on the 2 new partitions are missed.**
1.  Restarting the application results in all partitions being assigned correctly again.

[2018-04-30 12:29] dim commented on #233
It's a sarama "bug". Calling `ResetOffset` is not immediate, instead changes to offsets are propagated every `Config.Consumer.Offsets.CommitInterval`. You would need to wait for at least `Config.Consumer.Offsets.CommitInterval` before starting a cluster consumer.

[2018-04-30 12:29] #233 closed

[2018-04-30 12:31] dim commented on #233
Alternatively, you could just call `of_o.Close()`, etc as the PartitionOffsetManager instances commit on `Close()` too (I think).

[2018-04-30 12:32] dim commented on #232
@jchenz I have pushed a PR with working draft of V3 - see https://github.com/bsm/sarama-cluster/pull/234

[2018-04-30 12:34] dim commented on #228
@jessicaxiejw I am working on effectively a complete rewrite, which I have drafted as a PR recently, please see https://github.com/bsm/sarama-cluster/pull/234

[2018-04-30 12:34] #227 closed

[2018-04-30 12:34] dim commented on #220
I have drafted a PR of the upcoming V3, please see https://github.com/bsm/sarama-cluster/pull/234

[2018-04-30 12:35] dim commented on #212
I have drafted a PR of the upcoming V3, please see https://github.com/bsm/sarama-cluster/pull/234

[2018-04-30 12:35] #212 closed

[2018-04-30 18:28] toefel18 commented on #235
@dim I'm not sure how the kakfa protocol works underneath, so it could be that the java client uses polling, I should look at the timestamps in our log-files for that.

Your suggestion of `InitialOffset = OffsetOldest` is indeed a fix that we are planning to do, it doesn't fix that bsm/sarama does not eventually rebalance, I also feel that the server should push this rebalance instead of having cl

[2018-05-02 08:04] dim commented on #235
@toefel18 thanks for the clarification, I will take this into account for the upcoming V3 - https://github.com/bsm/sarama-cluster/pull/234. In fact, I should probably add it to the low-level consumer https://github.com/Shopify/sarama/pull/1083

[2018-05-04 16:50] sronderos-atlassian opened #236 "Data Race when rebalance notifications are enabled and a rebalance error occurs"
in consumer's nextTick function:  https://github.com/bsm/sarama-cluster/blob/d98592677c0aa08d8aafb882d344fb461682b722/consumer.go#L332

A notification is conditionally sent to `handleNotification` if the configuration of the client calls for notifications to be returned. That same notification is then passed to rebalanceError wherein it is modified. This is altering a value on a struct that has be

[2018-05-08 09:43] dim commented on #236
@sronderos-atlassian could you provide a PR for this?

[2018-05-10 06:35] jiangxl2018 opened #237 "how to add a topic dynamic"
i can create topic in system running.
i need add the topic into consumer topiclist.
how to do?
thanks!

[2018-05-11 15:13] zirkome commented on #118
It may be an old issue but I ran into this error today with a local 1-node Kafka cluster. The solution was to set `offsets.topic.replication.factor` to `1`.

From the [0.11.0.0 changelog](https://kafka.apache.org/documentation/#upgrade_1100_notable):

[2018-05-18 06:19] kuaikuai opened #238 "about the version of sarama"
Only one simple question:
What  version of sarama should I choose when i use  sarama-cluster 2.1.13?

[2018-05-18 12:57] dim commented on #238
sarama-cluster uses https://github.com/golang/dep to manage dependencies https://github.com/bsm/sarama-cluster/blob/master/Gopkg.toml#L26

[2018-05-18 12:57] #238 closed

[2018-05-25 07:26] aaronyue opened #239 "failed building example with vgo"
go get -u golang.org/x/vgo && touch go.mod  && vgo build

then got errors as follows:

./main.go:15:12: undefined: cluster.NewConfig
./main.go:22:38: not enough arguments in call to cluster.NewConsumer
./main.go:41:28: consumer.Notifications undefined (type *cluster.Consumer has no field or method Notifications)
./main.go:51:13: consumer.MarkOffset undefined (type *cluster.Consumer has no field or

[2018-05-25 15:44] jessicaxiejw opened #240 "Create new tag for the latest commit"
Is it possible to create a new tag for the latest release? https://github.com/bsm/sarama-cluster/commit/d98592677c0aa08d8aafb882d344fb461682b722

We are hoping to use the feature :) Thank you!

[2018-05-27 19:15] bataras commented on #48
as of 5/27/18, running from master. A consumer is not seeing new partitions that get added to currently-consumed topic. Using essentially the same code the @liudanking posted above

[2018-05-27 22:57] bataras opened #242 "New partitions are not seen by existing consumers"
Using these tools:

- [saram-cluter-cli](https://github.com/bsm/sarama-cluster/blob/master/cmd/sarama-cluster-cli/main.go)
- [kafka manager UI](https://github.com/yahoo/kafka-manager)
- a simple producer writing every second to a topic, logging which topic/partition it went to

Create a single, 1 partition topic.
Run the producer. Then run the CLI tool like this..

`./sarama-cluster-cli -brokers <

[2018-06-05 19:31] chadgrant opened #243 "import with capital S creates issues"
not sure why there is a capital S in the import of github.com/Shopify/sarama as the norm is lowercase, this creates issues with goimports forcing us to change our style/code. "case-insensitive import collision"

[2018-06-07 06:05] adpoint opened #244 "question for ConsumePartition"
i use api ConsumePartition, one consumer A for one partition 0, one consumer B for one partition 1, when i add one partition or one consumer, then when kafka rebalance,  consumer A also for partition 0?

[2018-06-07 06:59] adpoint opened #245 "offset for many partitions"
i'am a newer, i read the example, but i have one question:
the API cluster.NewConfig() will set config.Consumer.Offsets.Initial, but the config.Consumer.Offsets.Initial is for group, not for partition? If i stop the consumer, then store the offsets that for all partitions, when i start consumer for next time, which offset can i set? Because there are many offsets for all partitions.

[2018-06-07 09:35] dim commented on #245
sorry, that's not what the library is for. if you want to start from specific partition offsets, you could commit them to manually to kafka (not sure, but maybe `kafka-consumer-groups.sh` supports that) and then start your consumer group which will use the committed offsets (`config.Consumer.Offsets.Initial` is only used when no offsets are stored)

[2018-06-07 09:35] #245 closed

[2018-06-07 09:37] dim commented on #244
Partitions are assigned using a configurable balancing strategy. In the next version of sarama, this will be more flexible, see https://github.com/Shopify/sarama/pull/1099

[2018-06-07 09:37] #244 closed

[2018-06-07 09:57] adpoint opened #246 "consumer.Partitions not work?"
i run the example,  when i add partition, use command "./kafka-topics.sh --alter --topic test --zookeeper 127.0.0.1:2181 --partitions 8", but i found my program does not run part, ok := <-consumer.Partitions() again, anything am i wrong?

[2018-06-11 09:21] AlexandreRzc opened #247 "Consumer and Azure Event Hub Kafka preview, can't connect"
Hi,

Has anyone tried the preview of Kafka + Event hub on Azure ?

I couldn't connect to the hub, there is an error when the broker try to join the group
resp, err := broker.JoinGroup(req)

Got this error message :
wsarecv: An existing connection had to be closed by the remote host.

[2018-06-11 12:00] dim commented on #247
@AlexandreRzc could you try to connect via raw sarama and raise an issue with them? it doesn't look like a sarama-cluster issue but something that is more low-level.

[2018-06-11 12:00] #247 closed

[2018-06-22 03:11] axbannaz opened #248 "Adding Topics() to Consumer"
Hi,

Would you be able to add "Topics()" to sarama-cluster.Consumer to return list of consumer topics?
some thing like the following?
func (c *Consumer) Topics() ([]string, error) {
       return c.consumer.Topics()
}

Thanks
Arash

[2018-06-23 07:06] yixinGod commented on #127
please tell me how to resolve this problem!!!
thanks

[2018-06-25 08:56] dim commented on #127
@yixinGod this is not a sarama-cluster but a core https://github.com/Shopify/sarama "issue". You need to set the protocol version to the relevant value, i.e. `config.Version= sarama.V...`

[2018-06-25 15:13] asdine opened #249 "Using ResetPartitionOffset after a rebalancing"
Is there a way to call the `consumer.ResetPartitionOffset()` function after having received a `PartitionConsumer` and expect this one to read from the selected offset?

[2018-06-26 11:04] #239 closed

[2018-06-26 13:43] dim commented on #249
@asdine unfortunately, it is not easy to do, at least not consistently. That's why I have started working on a new effort here - https://github.com/Shopify/sarama/pull/1099

[2018-06-26 13:43] #249 closed

[2018-06-30 06:51] adpoint opened #250 "kafka: Failed to deliver 1 messages"
Can i start two producers, one sync producer and one async producer, send data to the same topic at the same time? When i do it,  my sync producer will generate "kafka: Failed to deliver 1 messages."

[2018-06-30 08:38] adpoint commented on #250
it's my fault, i set retry.max =0. I found eapache said Producer hangs when `Retry.Max` is 0. The link is https://www.ctolib.com/article/comments/8764

[2018-06-30 08:38] #250 closed

[2018-07-03 08:51] 90wukai commented on #237
+1

[2018-07-03 08:52] 90wukai commented on #237
@jiangxl2018 Do you have any answers?

[2018-07-03 09:58] dim commented on #237
Topics can be added dynamically via whitelists and blacklists. I am currently working with the shopify team on an update which will support dynamic topic additions - https://github.com/Shopify/sarama/pull/1099

[2018-07-03 09:58] #237 closed

[2018-07-11 17:48] Preylien commented on #170
I seem to be running into the same issue as what agforte was experiencing above.
I have a consumer with whitelist "test.*"
I have a topic test1 with data in it
I read from test1 and it works fine
I create a separate producer that writes to a new topic, test2 (which is being created by that producer)
I wait for the Config.Metadata.RefreshFrequency interval and it doesn't start reading from test2, b

[2018-07-11 19:36] Preylien commented on #242
I just commented on what I believe is the same issue here #170 but I'll give a shorter snippet of what I think the issue is.

This is where it looks like new topics should be picked up:
https://github.com/bsm/sarama-cluster/blob/4d54a79f90a9be10a7829f2957addbb70c550395/consumer.go#L333

Looking at it, if it identifies that a new potential topic exists, the IF returns and therefore exits the loop a

[2018-07-11 22:38] bataras commented on #242
This issue is about a consumer not picking up new partitions on an existing topic, while a produce does. It's not about picking up new topics

[2018-07-11 23:48] Preylien commented on #242
My bad, I misread your post, and assumed it was related to the problem I was running into. I'll remove it to avoid confusion. 👍

[2018-07-12 10:35] dim commented on #170
@Preylien I would appreciate a pull request as I am currently working on the implementation of a `ConsumerGroup` directly into sarama: https://github.com/Shopify/sarama/pull/1099

[2018-07-12 10:36] dim commented on #242
@Preylien please see my comment on https://github.com/bsm/sarama-cluster/issues/170#issuecomment-404468678.

[2018-07-12 10:36] #242 closed

[2018-07-12 13:17] Preylien commented on #242
@dim I don't think this issue is closed. I misread the problem bataras was having, so I believe it should be reopened and looked into separately. Sorry about any confusion.

[2018-07-12 17:56] bataras commented on #242
Right. This issue is about a live consumer group not recognizing when a new partition is added to a topic

[2018-07-13 02:13] ippoippo commented on #246
I can confirm ....

I'm doing some experimentation and finding it not working....

Ref: https://github.com/ippoippo/sarama-test/commit/3bafac5247e4841c89ec1b2c6b0d6e3cb1e11512
(I'll reference the commit, in case I push further updates to this repo)

I've written a quick/dirty Producer and Consumer. Single topic....

The Work function`https://github.com/ippoippo/sarama-test/commit/3bafac5247e4841c8

[2018-07-18 16:49] davecb opened #251 "Question: what's the plan, if any, for sarama.v2?"
I'm using http://gopkg.in/Shopify/sarama.v1 in place of  github.com/Shopify/sarama, and I notice there is a .v2.  Will sarama-cluster track v1, or adopt v2 at a later date?

[2018-07-19 09:11] dim commented on #251
@davecb sorry, but gopkg is deprecated in favour of https://github.com/golang/dep and https://github.com/golang/go/wiki/vgo. Both sarama and sarama-cluster releases are properly tagged. I suggest switching to using `github.com/Shopify/sarama` imports

[2018-07-19 09:11] #251 closed

[2018-07-19 13:10] davecb commented on #251
Will do, many thanks!

[2018-07-23 06:49] niuzhifa commented on #29
@matbhz I have the same problem. now you had solved it?

[2018-07-26 09:12] kaliazur opened #252 "ConsumerGroup with Azure EventHub"
Hi everyone,

Azure EventHub has implemented the Kafka API and I'm trying to use it with this bsm/sarama-cluster library.

First, the basic library Sarama is working just fine, but i need specifically the "cluster" feature, to be able to use consumer groups.

When I start a consumer on a topic, and after I send a message to this same one, with Sarama I can read the message fine, but with this bsm/

[2018-07-26 10:06] dim commented on #252
@kaliazur thanks for the report, I am currently working on an implementation of Consumer Groups into the core library, see https://github.com/Shopify/sarama/pull/1099. I would be very interested in seeing this working with the Azure EventHub, the PR should be completed soon

[2018-07-31 09:47] happyroc opened #254 "A DATA RACE about Notification in cluster.balancer.go"
we are using sarame-cluster in our project.Our code is like this:

[code]

DATA RACE read occurs in this line:
[code]

DATA RACE write occurs in this place in balancer.go:
[code]

the error stack is:

WARNING: DATA RACE
Write at 0x00c42b183fc0 by goroutine 114:
  github.com/bsm/sarama-cluster.(*Consumer).rebalanceError()
      /home/work/buildspace/8174d93485101396704252fca6611d34/golang/gopath/sr

[2018-08-09 23:30] longquanzheng opened #255 "Delivering disordered messages during shutdown(rebalance), causing message loss"
We are experiencing msg loss during restarting workers, it happens consistently.
But when I added these logs, the message loss disappear.

https://github.com/longquanzheng/sarama-cluster/commit/0c61134e2a0a729345aac2d4fd28bdf2079faf20

I think this is because the logging slow down CommitOffsets() function. There must be some race condition with it.
Do you have any idea?

[2018-08-10 07:38] dim commented on #255
@longquanzheng I am currently working on implementing cluster functionality into sarama directly - https://github.com/Shopify/sarama/pull/1099. Only a few small bits are missing at this point and I aim to finish those next week.

[2018-08-10 07:40] dim commented on #255
@longquanzheng I am nevertheless happy to fix the race if you can identify how it happens. We have quite a "fuzzy" test in our suite (see https://github.com/bsm/sarama-cluster/blob/master/consumer_test.go#L284) which seems to pass without losing any messages.

[2018-08-13 09:41] dim commented on #255
@longquanzheng from what I know, messages are only ordered per topic/partition. also, `Close()` doesn't do anything specific i.e. we are just closing the consumer and waiting for exit. finally, the test I have mentioned above is testing this case, i.e. it starts consumers/shuts them down/starts new ones and no messages are being missed, neither locally nor on the CI. I am not sure how to debug thi

[2018-08-14 13:38] dim commented on #254
Yes, it's a known problem which will be addressed in V3 - see #256

[2018-08-14 13:38] #254 closed

[2018-08-14 22:57] longquanzheng commented on #255
@dim we finally found that the bug is here: https://github.com/georgeteo/sarama/commit/9618a792d27f72ba74865bed28f57e6e868baaa9

[2018-08-15 00:27] georgeteo commented on #255
Actually, the issue is with the sarama/sarama-cluster contract. Specifically, in https://github.com/bsm/sarama-cluster/blob/master/partitions.go#L89, you use `partitonConsumer.Close()`, which will drain the `Messages` channel.

We use the `PartitionConsumer` abstraction from sarama-cluster, and on `Close` or rebalance, we continue reading from the `Messages` channel, but because Sarama is also rea

[2018-08-15 15:35] georgeteo commented on #255
Thanks for accepting the PR. Can you tag a new release as well?

[2018-08-16 08:33] dim commented on #255
@georgeteo looks like you didn't run the tests :smile:

[2018-08-16 14:18] danpmx commented on #255
I've tried this fix today and reverted back.
Looks like something is wrong
when listening to Notifications channel, I receive infinite rebalance error messages

[2018-08-16 14:31] jpiper opened #259 "Seeing lots of consumer errors with Sarama 1.17.0"
I'm running Sarama 1.17.0 and sarama-cluster 2.1.14 and Kafka 1.1.0

I was previously running Sarama 1.16.0 and sarama-cluster 2.1.13 and had no issues, but when I upgraded, I keep seeing the following...

[code]

Any idea what could be causing this?

[2018-08-16 14:41] danpmx commented on #259
We've seen it as well,
looks like it's related to #258

[2018-08-16 14:58] jpiper commented on #259
if I roll back before that PR to d98592677 (`sarama-cluster v2.1.13-7-gd985926`) I don't have any issues, so that PR must be to blame

[2018-08-16 15:55] jpiper commented on #255
By the way #258 worked for me with `kafkaConfig.Group.Mode = cluster.ConsumerModePartitions` it was only in the default mode that crashed for me

[2018-08-17 17:28] georgeteo commented on #255
@danpmx, @jpiper, I'm unable to reproduce the crash. Can you post your consumer configuration?

When running the following non partition consumer code, I don't see either crashing or infinite rebalance:
[code]

# Two consumer workers:
## Worker 1
[code]

## Worker 2
[code]

@dim: do you have any clues why non partition consumer might be broken with my recent change?

[2018-08-17 19:27] jpiper commented on #255
@georgeteo  I’m using this config
[code]

[2018-08-17 19:34] venkat1109 commented on #255
I am able to repro behavior identical to what @danpmx reported. I digged into this and the root cause appears to be a deadlock in the underlying sarama library (which existed even before the fix added by george). But the new fix caused this deadlock to manifest itself differently i.e. after the fix, its a bunch of rebalance errors; before the fix, the deadlock will lead to consumer not receiving a

[2018-08-19 10:59] danpmx commented on #255
@georgeteo  our configuration:
`
conf := cluster.NewConfig()
conf.ChannelBufferSize = 1000
conf.Consumer.Return.Errors = true
conf.Group.Return.Notifications = true
conf.Group.Mode = cluster.ConsumerModePartitions
`

[2018-08-22 09:30] misterion opened #260 "Understanding rebalance and parallel worker payload processing"
Sorry for lame question here - i`m new to kafka and sarama — all my previous experiense was with AMQP and SNS.  While testing groups in kafka with `kafka-consumer-groups` i`l see expected results — running some consumers over some producers with partition i see that messages passed to all consumers.

Now try to get same results with sarama-cluster with this code:

[code]
And producer code
[code]
N

[2018-08-23 14:48] imjustfly commented on #255
@venkat1109 The `release()` call will not block, because  `sarama.PartitionConsumer.Close()` starts a goroutine to drain the `messages` channel. This is why a rebalance will lead to data loss.

  rebalance -> `release` -> `PartitionConsumer.Close()` -> drain `messages` -> data loss

[2018-08-23 14:54] venkat1109 commented on #255
@imjustfly - sarama.PartitionConsumer.Close() will block because of this for range loop (and not because of drain, which runs in its own goroutine):
https://github.com/Shopify/sarama/blob/master/consumer.go#L431

i.e. sarama.PartitionConsumer.Close() will return only after child.errors channel is closed.

[2018-08-23 16:01] imjustfly commented on #255
@venkat1109 `child.errors` is closed:

  `Close()` -> `AyncClose()` -> `close(dying)` -> `close(trigger)` -> `close(feeder)` -> `close(errors)`

[2018-08-24 10:26] dim commented on #76
You could set the CommitInterval to (pretty much) infinity, but a read-only PartitionOffsetManager makes little sense as every state about offset will be lost after a rebalance. BTW, sarama-cluster is now semi deprecated, as I am working on a ConsumerGroup feature directly in sarama - https://github.com/Shopify/sarama/pull/1099

[2018-08-30 10:04] steve-gray opened #261 "Upon closed dead subscription, Resubscribe"
It appears that when a partition suffers from the conditions that cause it to die, potentially as a result of either slow consumption or something else - there's conditions that lead to this code in Sarama being hit:

[code]
(From consumer.go in Sarama)

Upon this dead subscription, there seems to be no consumer-group level hook to periodically check for this condition - so as long as the process

[2018-09-04 10:08] dim commented on #261
@steve-gray I am currently working on a PR to integrate consumer groups into sarama itself https://github.com/Shopify/sarama/pull/1099. As part of the new API, you should be able to address these issues in your implementation, i.e. trigger a rebalance by existing a handler when a partition is stuck/slow.

[2018-09-04 10:08] #261 closed

[2018-09-07 20:31] e11it opened #262 "Close partition after ResetOffset"
Hi!

I need to reset partition offset and only one working solution that I found is to close partition after reset.

Here is my working example:

[code]
Am I do it right?

May be `ResetOffset()` function should close partition itself?

[2018-09-08 03:45] notmaxx opened #263 "initial messages in partitions are not delivered while sarama-cluster client was offline"
hi,

I just started playing with `sarama-cluster` and discovered interesting behaviour:
1. there is topic with 32 partitions
2. producer wrote to the some partitions only (no consumer running)
3. I ran `sarama-cluster` consumer with the group name `jh_group` and producer generated several messages while consumer was up and running, consumer successfully received them and printed
4. i stopped consu

[2018-09-10 11:15] dim commented on #262
@e11it sarama-cluster is about to be deprecated while I am trying to transition everyone over to my latest addition, directly to sarama - https://github.com/Shopify/sarama/pull/1099

[2018-09-10 11:17] dim commented on #263
The will be if you change sarama's config default from `OffsetNewest` to `OffsetOldest` - https://github.com/Shopify/sarama/blob/master/config.go#L331

[2018-09-10 11:17] #263 closed

[2018-09-17 07:41] jeroenrinzema opened #264 "Mocking and Testing"
Hi, I am working on a small application that uses sarama-cluster and started to write some tests.
Here I started to wonder if it is plausible to to mock sarama cluster without running Kafka. I currently created a small interface of the `Consumer` struct that allows me to mock a sarama-cluster consumer.

[code]

But I was wondering if there are other ways plausible. I tried creating a mock broker (

[2018-09-17 11:48] harshitdx29 opened #265 "Consumer Issue in decoding packet"
Hi I am creating a consumer using the following code:

[code]

I am getting the following error:
[code]

[2018-09-17 12:39] dim commented on #264
Hmm, we are normally just doing what you are doing, i.e. have a common interface. I assume this may become easier in future: https://github.com/Shopify/sarama/pull/1099. I will close this one as sarama-cluster is now semi-deprecated in favour of ^^

[2018-09-17 12:39] #264 closed

[2018-09-17 12:41] jeroenrinzema commented on #264
@dim, thanks i was also following Shopify/sarama#1099 and will try again once that PR is merged.

[2018-09-17 12:49] dim commented on #265
That sounds like a producer/protocol issue. Sorry, but sarama-cluster fully relies on https://github.com/Shopify/sarama for consuming messages, it doesn't do anything to them. It's something you may need to raise with them.

[2018-09-17 12:49] #265 closed

[2018-09-27 09:42] vdobler opened #269 "How to start a consumer group consuming from the latest committed offsets?"
We have a simple setup: One topic with 4 partitions and one consumer group consuming this topic.
This works fine as long as at least one consumer is running.

If we stop the whole consumer group and new messages arrive in the time until the consumer group is restarted these messages are not consumed. This is presumably exactly what #263 and #106 is about.

If we setting `Config.Consumer.Offsets.In

[2018-09-27 16:14] dim commented on #269
@vdobler sorry, but sarama-cluster has been deprecated in favour of https://github.com/Shopify/sarama/pull/1099 (which was merged today). Nevertheless, `Config.Consumer.Offsets.Initial` is only used when there is no offset stored. if you have consumed messages up to offset `550`, you need to `Mark` them so that this offset is persisted. After restart the stored offset will be used and it should re

[2018-09-27 16:14] #269 closed

[2018-09-27 16:15] dim commented on #269
please see https://godoc.org/github.com/bsm/sarama-cluster#Consumer.MarkOffset

[2018-09-28 21:47] muirrn opened #270 "Consumer offset resetting after partition leader change"
We saw this issue in production when restarting a kafka node. I was able to reproduce it using a test cluster for a period, but cannot reproduce any longer, frustratingly. Production was running kafka 1.0, and I reproduced it on 2.0 in our test cluster (after I had given up trying to reproduce it on 1.0 and moved on to different testing).

While I could reproduce it, I added some debug messages an

[2018-10-01 11:51] dim commented on #270
Unfortunately, and despite my best efforts, I still have gaps in my understanding of certain Kafka behaviours and this seems to be one of them. The only thing you can do is enable debug logging on the brokers node and in sarama and trace it all the way down. BTW, sarama-cluster is now deprecated, since https://github.com/Shopify/sarama/pull/1099 has been released

[2018-10-01 11:51] #270 closed

[2018-10-12 07:37] dim commented on #235
@ShaneSaww no, it didn't, but the idea was to keep the `ClusterConsumer` reasonable lightweight while allowing for customisation. I think this functionality could be easily added as part of the `Handler.Setup` callback.

[code]

[2018-10-12 07:37] #235 closed

[2018-10-12 07:38] dim commented on #235
I was toying with the idea of handler "middlewares" too and this could be just one of them

[2018-10-12 10:15] sanchitlohia-ovo opened #274 "#Support : Way to get batch messages and commit if the batch is successful"
There doesn't seems a way to  implement the below flow

1. Read batch messages from Kafka.
2. Process all the messages.
3. If all messages processing succesful - Commit the offset
4. If any of the message processing fails - Do not commit the offset and read the same batch again and try to process the messages and if successful commit the offset.

[2018-10-12 10:17] dim commented on #274
Unfortunately, there isn't, at least not easily. That's why I have put a lot of effort into https://github.com/Shopify/sarama/pull/1099 :) This repo is going to be deprecated in favour of the latest sarama release.

[2018-10-12 10:17] #274 closed

[2018-10-12 14:10] ShaneSaww commented on #235
@dim That's awesome! I was starting down the path of doing this setup.
Thanks!
Do you think that this is worth adding into the base sarama library? The ability to do this is pretty needed for most consumers.

[2018-10-16 16:02] snigle commented on #76
Sometime we want to markoffset and don't commit. To permits to block the rebalance until the process is done (with rebalance timeout).

[2018-10-17 09:02] dim commented on #76
@snigle there is no way to do this consistently in sarama-cluster due to a lack of coordination between server-side rebalances and manual commits. This issue has been addressed as part of my effort for https://github.com/Shopify/sarama/pull/1099 which allows highly customised workflows.

[2018-11-15 21:47] natdm commented on #166
FYI, this does not handle `Errors()` which is `Errors() <-chan error` on cluster and `Errors() chan *sarama.ConsumerError` on sarama. 🤦‍♂️

[2018-11-23 06:54] langzi-zmg opened #279 "Does sarama-cluster supports kafka 2.0?"

[2018-11-23 07:02] langzi-zmg commented on #279
Error: kafka: error while consuming applog/2: kafka: error decoding packet: CRC didn't match expected 0x0 got 0xe38a6876

[2018-11-23 08:44] 24 opened #280 "Closed connection to broker , how to reconnection"
hi ,
i  found sarama-cluster will close connection .

[code]
i dno't know  why closed .when i add config.ClientID="xxx" ,then will ok .mybe this not reason?

my config
[code]

how i know Closing Client Event,
or Closed connection to broker ,if close ,
then i want restart client .  or reconnection client .

because
[code]

they are nothing notifications .only found sarama.Logger found close client

[2018-11-26 11:18] dim commented on #280
@24 my apologies, but since https://github.com/Shopify/sarama/pull/1099 was merged and released, this library is officially deprecated.

[2018-11-26 11:18] #280 closed

[2018-11-26 11:19] dim commented on #279
@langzi-zmg you need to set the correct `sarama.Config.Version` when connecting to Kafka, nothing to do with sarama-cluster. Also, since https://github.com/Shopify/sarama/pull/1099 was merged and released, this library is officially deprecated.

[2018-11-26 11:19] #279 closed

[2018-11-27 08:06] FelixChong commented on #242
May I know if any updates on this issue?

[2018-11-27 12:04] dim commented on #242
@FelixChong no updates, sarama-cluster is now officially deprecated since https://github.com/Shopify/sarama/pull/1099 was merged and released. The native sarama implementation makes it easy to watch topics and change subscriptions on rebalances.

[2018-11-27 14:36] 24 commented on #280
@dim thanks

[2018-11-28 22:43] freddiesunarso commented on #202
I have now a use case for this: I have a service acts like both a consumer and producer, and I would like them to share the same config. The producer's config is a `sarama.Config` while the consumer's config is `sarama-cluster.Config`. What's the best way to do this?

[2018-11-28 22:46] varun06 commented on #202
@freddiesunarso you should just use sarama at this point. I also have same type of service and use sarama. https://godoc.org/github.com/Shopify/sarama#ConsumerGroup

[2018-12-03 01:42] PoacherBro commented on #262
@dim thanks for your great works, I have same question with @chandradeepak, when do we need to switch to sarama? And is there any suggestion for next usage, or any sample?
I don't see the update in godoc/sarama. Wish your advise.

[2018-12-03 12:49] dim commented on #262
Take a look at this https://godoc.org/github.com/Shopify/sarama#ConsumerGroup + example below

[2018-12-04 00:58] PoacherBro commented on #262
@dim thanks a lot.
So that means we can switch to sarama-1.19.0 now for consumer group rebalance & offset tracking? take over sarama-cluster completely, right?

[2018-12-20 02:58] dongshimou commented on #171
again.
sarama-cluster version : 704b0be

[2018-12-22 01:56] dhbarman opened #282 "Consumer Partitions Mode is not working"
I created a topic with 3 partitions. Following this example but it is not working.
That is, case part, ok := <-consumer.Partitions():  does not return any value.

https://github.com/bsm/sarama-cluster/blob/master/examples_test.go

[2018-12-26 10:02] PoacherBro commented on #126
@vramakrishnan hi, have you found out the cause of that problem? I also encountered this issue with the latest cluster version, but after I added new partition in kafka-manager, the producer can send to the new one, while no reflection in consumer side.
Not sure you have fig out, and if yes, appreciate you can share. Thanks.

[2019-01-03 10:50] nitin302 opened #283 "how to limit number of partitions assigned to consumer"
For Kafka, partitions provide a way for consumption to scale. Hence, it is necessary that consumers needs to scale horizontally as well.

1) Is there any way to limit number of partitions per consumer, so that we can add more consumers so that all partitions are assigned to one of the consumers (total consumers *  partitions per consumer = total partitions of the topic)? How can I do this?

2) Wha

[2019-01-03 13:10] dim commented on #283
@nitin302 I suggest that you look into https://github.com/Shopify/sarama/pull/1099 which has been merged and released, as sarama-cluster is now deprecated. You can configure a custom https://godoc.org/github.com/Shopify/sarama#BalanceStrategy which can plan the partition allocation to consumers based on a consumer's `UserData`. Hope that helps!

[2019-01-03 13:10] #283 closed

[2019-01-03 14:05] Shan4Kites commented on #283
@dim can you please add "deprecated"  in the github description for this repo?  it will help the new users.

[2019-01-17 05:58] mymixing commented on #165
@dim how can I operate, pointing to a specific offset, thank you

[2019-01-23 16:49] cunnutamatri opened #285 "New updated sarama"
Hi and thank you for the great work.
It looks like latest Sarama update broke sarama-cluster compatibility.
Do you have any plan to add support in the future?
Thanks in advance

[2019-01-23 21:49] cunnutamatri commented on #285
never mind, it looks like they reverted the commit :)

[2019-01-23 21:49] #285 closed

[2019-02-14 21:41] saraweinberg opened #286 "Consumer per topic vs multiple topics per consumer"
I have a micro service that should consume from multiple topics.
I wonder what is better to implement:

**1. One consumer that consume from a list of topics**
`cluster, err := cluster.NewConsumer(BROKERS, GropuID, topicNames, config)`
and then I have one go channel with switch case to handle proper logic per topic.
**2.One consumer per topic**
`cluster, err := cluster.NewConsumer(BROKERS, GropuID,

[2019-02-15 19:38] dhbarman opened #287 "What is the behavior of consumer in multiplex mode ?"
What is the behavior when a consumer is created in multiplex mode ?

Suppose there are 10 partitions and one consumer-group. On each partition, the messages are available in order. But when a consumer consumes messages from the common channel, are the original order of messages per-partition preserved ? I understand that messages are put into the common channel.

[2019-02-21 13:07] nitin302 commented on #29
Does increasing heartbeat interval and maxprocessingtime fix this issue? I see these errors intermittently and Once they appear, it consistently fails to rebalance 90% of the time.

[2019-03-13 14:33] matzew opened #288 "auto commit"
Hi,
when having this cfg:

[code]

and *not* calling `consumer.MarkOffset(msg, "")`

I do not see _auto commit_ happing....  am I missing something ?

[2019-03-14 12:42] dim commented on #288
Ale you marking offsets after consuming messages?

[2019-03-14 12:42] #288 closed

[2019-03-18 17:27] matzew opened #291 "status of the library"
With the shopify/sarama lib having support for `NewConsumerGroup`, what's the status of this libray ?

Is it recommended to move to that one? or does this not have any effect here ?

[2019-03-19 10:41] dim commented on #291
Yes, sarama-cluster is officially deprecated, I will update the documentation shortly.

[2019-03-19 10:41] #291 closed

[2019-03-29 07:11] krucelee opened #292 "DEPRECATED??"
...

[2019-04-01 12:52] dim commented on #292
@krucelee yes, please see README

[2019-04-01 12:52] #292 closed

[2019-04-02 15:45] cafra opened #293 "Kafka repeated consumption"
Hello, author. During the use, there is a problem of Kafka's repeated consumption, and the following is my use.

Kafka cluster is the version 1.0.0；

The timing of repeated consumption is usually when the client restarts. The irrelevant topic corresponds to the client restart, which will cause repeated consumption by other clients. It was previously thought that when the client was closed, the off

[2019-04-03 08:05] dim commented on #293
Hi, it's a known problem, hence https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-04-03 08:05] #293 closed

[2019-04-08 01:47] cafra commented on #293
Is the current library obsolete? But what is the reason for the repeated consumption? Is there any solution? The link description has been merged into Shopify/sarama. But I don't seem to find it. Is there a specific address, or a demo?

[2019-04-17 10:12] pmalekn commented on #236
@dim @sronderos-atlassian is there any intent on merging the mentioned change?

I was just bitten by this data race and the patch seems to fix the issue.

[2019-04-17 12:27] dim commented on #236
This library is deprecated, but I am happy to merge this change if you can you submit a PR?

[2019-04-19 09:28] carl-leopard commented on #164
so offset will not be committed without calling `MarkOffset`?

[2019-04-19 09:49] carl-leopard opened #294 "commitOffset does not work properly in partition mode"
kafka: 1.1.0
zookeeper: 3.4.12

i call `MarkOffset` after handling message success, then call `CommitOffset` to manual commit offset, but it does not work as expected.
here is the code:

[code]

from log file, it indicates that offset does commit successfully, but after a day or few days later, i receive the same message that has been handled successfully days ago.

[2019-04-19 09:54] carl-leopard commented on #294
i have set the auto-commit-interval to a very large number that you can think it will never comes to

[2019-04-19 10:03] carl-leopard commented on #294
![image](https://user-images.githubusercontent.com/20352865/56419599-63946c80-62cd-11e9-8bc3-653a43845a30.png)

[2019-04-22 19:57] sronderos-atlassian commented on #236
@pmalekn @dim I'm no longer using this library. Feel free to take over the change that I made above. I don't recall if we ever switched to using the change in a production setting. I'm fairly confident that the change fixes the issue, but I don't have the bandwidth to test it now.

[2019-04-23 07:20] dim commented on #164
@carl-leopard sorry this library is deprecated, but how should the consumer know what to commit if you don't mark the messages as 'processed'

[2019-04-23 07:21] dim commented on #294
@carl-leopard sorry, but please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-04-23 07:21] #294 closed

[2019-04-23 07:37] pmalekn commented on #236
Created a PR: https://github.com/bsm/sarama-cluster/pull/295, let me know if that works.

[2019-04-23 15:05] carl-leopard commented on #294
thanks

[2019-04-24 16:29] carl-leopard commented on #164
soga

[2019-06-18 00:11] #255 closed

[2019-06-21 08:38] walijoy opened #296 "Receiving protobuf data triggers a kafka unknown error"
version:
kafka: 1.1.0
sarama-cluster: 2.1.15
sarama:1.22.1

topic: A,  string data
eg:
[code]
topic: B,  protobuf byte data  (cannal read binlog data send to kafka https://github.com/alibaba/canal)
eg:
[code]
kafka-console-consumer customer A、B: no any errors
topic A customer:  no any errors
topic B customer errors:
[code]

code
[code]
log:
[code]
But when I restart the program, it will be consume

[2019-06-24 07:03] walijoy commented on #296
Using other libraries to solve the problem

[2019-06-24 07:03] #296 closed, assigned to nobody

[2019-07-05 08:14] wbrucelee commented on #296
I also meet this problem

[2019-08-24 00:09] lingzhang000 opened #297 "How to get Notification() - rebalance notification in sarama lib"
Hello,
Since sarama-cluster already been deprecated and it is suggested to use sarama lib instead, is there any possibility to get Notification() in sarama lib? seems it has been deleted (any reason for that)... the reason for asking is we would like to do some customized logic when rebalance is triggered... thanks so much in advance...

[2019-08-27 08:55] dim commented on #297
@lingzhang000 there is no need for it as you consume through a for loop in sarama's [ConsumerGroup](https://godoc.org/github.com/Shopify/sarama#ConsumerGroup). You can also define Setup/Cleanup callbacks on the [Handler](https://godoc.org/github.com/Shopify/sarama#ConsumerGroupHandler)

[2019-08-27 08:55] #297 closed, assigned to nobody

[2019-11-06 14:15] continuum-dipanjan-mazumder opened #299 "Not able to Read the messages from the reset offset for the partition"
I have implemented application checkpointing mechanism , in which the consumer before consuming messages from the partition , check the offset from where it needs to start reading from and then ResetPartitionOffset is called to set the offset to the required one. But after doing that it is not able to start reading immediately from that offset.If this is not possible what is the point of having th

[2019-11-26 01:57] kazaff opened #300 "go get error"
Hi there~
When I install ths library, I got error message:
[code]
My GO version: 1.13

What can I do?

[2019-11-26 05:35] kazaff commented on #300
[https://sourcegraph.com/github.com/Shopify/sarama@master/-/blob/config.go#L340:3](https://sourcegraph.com/github.com/Shopify/sarama@master/-/blob/config.go#L340:3)

The latest version of Sarama does not define `CommitInterval `...

[2019-11-26 07:44] aoniboy commented on #300
yes  the latest version
Renamed Consumer.Offsets.AutoCommitEnable to Consumer.Offsets.AutoCommit.Enable. Renamed Consumer.Offsets.CommitInteval to Consumer.Offsets.AutoCommit.Inteval

[2019-11-26 09:51] dim commented on #300
Please note: https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-11-26 09:51] #300 closed, assigned to nobody

[2019-11-27 10:59] Sallery-X opened #301 "how can i set auto.offset.reset=none in sarama-cluster ?"

[2019-11-27 11:11] Sallery-X opened #302 "how"

[2019-11-27 11:12] Sallery-X opened #303 "how can i consume form the commit offset?"

[2019-11-27 11:12] #302 closed, assigned to nobody

[2019-11-27 11:13] Sallery-X commented on #303
from the commit offset?

[2019-11-27 13:39] dim commented on #303
@SalleryWang please take note of https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-11-27 13:39] #303 closed, assigned to nobody

[2019-11-27 13:40] #301 closed, assigned to nobody

[2019-11-30 14:21] kira3007 opened #304 "Offsets.CommitInterval has change to Offsets.AutoCommit.Interval"
# github.com/bsm/sarama-cluster
src/github.com/bsm/sarama-cluster/consumer.go:452:59: c.client.config.Config.Consumer.Offsets.CommitInterval undefined (type struct { AutoCommit struct { Enable bool; Interval time.Duration }; Initial int64; Retention time.Duration; Retry struct { Max int } } has no field or method CommitInterval)

in sarama-cluster/consumer.go line 452 :

ticker := time.NewTicker(c

[2019-12-02 09:32] dim commented on #304
Please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-02 09:32] #304 closed, assigned to nobody

[2019-12-04 09:33] cage1993 opened #305 "sarama config.go removed config.Consumer.Offsets.CommitInterval in config.go"
so, i can't build my project when i find consumer.go had a function named cmLoop, this function used CommitInterval that was undefined.

[2019-12-04 09:39] dim commented on #305
sorry, but please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:39] #305 closed, assigned to nobody

[2019-12-04 09:39] dim commented on #286
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:39] #286 closed

[2019-12-04 09:39] dim commented on #262
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:39] #262 closed

[2019-12-04 09:39] dim commented on #252
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:39] #252 closed

[2019-12-04 09:40] dim commented on #248
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:40] #248 closed

[2019-12-04 09:40] dim commented on #246
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:40] #246 closed

[2019-12-04 09:40] dim commented on #243
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:40] #243 closed

[2019-12-04 09:40] dim commented on #240
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:40] #240 closed

[2019-12-04 09:40] dim commented on #236
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:40] #236 closed

[2019-12-04 09:40] dim commented on #287
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:40] #287 closed

[2019-12-04 09:40] dim commented on #299
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:40] #299 closed, assigned to nobody

[2019-12-04 09:40] dim commented on #232
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:40] #232 closed

[2019-12-04 09:40] dim commented on #228
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:40] #228 closed

[2019-12-04 09:40] dim commented on #220
please note https://github.com/bsm/sarama-cluster#deprecation-notice

[2019-12-04 09:40] #220 closed

[2019-12-08 14:24] anranziruo opened #306 "go get github.com/bsm/sarama-cluster报错"
./consumer.go:452:59: c.client.config.Config.Consumer.Offsets.CommitInterval undefined

[2019-12-08 23:11] anranziruo commented on #306
i'm sorry.i misunderstand .my local sarama kafka library version is high.

[2019-12-08 23:11] #306 closed, assigned to nobody

[2019-12-11 18:29] liusha0917 opened #307 "c.client.config.Config.Consumer.Offsets.CommitInterval undefined"
../github.com/bsm/sarama-cluster/consumer.go:452:59: c.client.config.Config.Consumer.Offsets.CommitInterval undefined (type struct { AutoCommit struct { Enable bool; Interval time.Duration }; Initial int64; Retention time.Duration; Retry struct { Max int } } has no field or method CommitInterval)

[2019-12-11 18:29] liusha0917 commented on #307
go build error

[2019-12-12 06:50] omkarprabhu-continuum commented on #307
This is an issue @dim . Any update on this?

[2019-12-12 09:33] omkarprabhu-continuum commented on #307
@liusha0917 install/update `Shopify/sarama` to latest version, that should fix this issue.

[2019-12-19 13:48] mak28031991 commented on #307
@omkarprabhu-continuum updating Shopify/sarama alone didn't work. I have to delete bsm and Shopify and update to fix this.

[2019-12-19 14:03] #307 closed, assigned to nobody